.chat {
  position: absolute;
  top: 100px;
  right: 10px;
  height: 500px;
  width: 320px;
}

.chat__content {
  height: calc(100% - 60px - 10px);
  width: 100%;

  overflow-y: scroll;

  background-color: var(--color-grey);
}

.chat__input-container {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.chat__input {
  height: 40px;
  width: 100%;
  margin-right: 10px;
  padding: 0px 10px;
  margin-left: 10px;

  outline: none;
  border: 2px solid var(--color-border-dark);
  background-color: var(--color-grey);

  font-family: IBM Plex Mono;
  font-weight: 600;
  font-size: 12px;
}

.chat__input__button {
  margin-right: 10px;
  padding: 10px 15px;
  display: flex;
  align-items: center;

  border: 3px solid;
  border-color: white var(--color-border-dark) var(--color-border-dark) white;
  background-color: var(--color-grey);

  font-family: IBM Plex Mono;
  font-weight: 600;
  font-size: 12px;

  cursor: pointer;
}

.chat__input__button:hover {
  background-color: #d6d6d6;
}
