.canvas-tools {
  position: absolute;
  top: 15px;
  left: 15px;
}

.canvas-tools__colors {
  width: 45px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.canvas-tools__color {
  width: 20px;
  height: 20px;
  cursor: pointer;

  border: 2px solid;
  border-radius: 2px;
  border-color: transparent;
}

.canvas-tools__color--selected {
  width: 20px;
  height: 20px;
  cursor: pointer;

  border: 2px solid;
  border-radius: 2px;
  border-color: rgb(230, 0, 255);
}

.canvas-tools__widths {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 20px;
}

.canvas-tools__width--small {
  height: 8px;
  width: 8px;
  cursor: pointer;

  border-radius: 50%;
  background-color: black;
}

.canvas-tools__width--medium {
  height: 12px;
  width: 12px;
  cursor: pointer;

  border-radius: 50%;
  background-color: black;
}

.canvas-tools__width--big {
  height: 18px;
  width: 18px;
  cursor: pointer;

  border-radius: 50%;
  background-color: black;
}

.canvas-tools__buttons {
  width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.canvas-tools__buttons__button {
  padding: 8px 8px;
  display: flex;
  align-items: center;

  border: 3px solid;
  border-color: white var(--color-border-dark) var(--color-border-dark) white;
  background-color: var(--color-grey);

  font-family: IBM Plex Mono;
  font-weight: 600;
  font-size: 12px;

  cursor: pointer;
}

.canvas-tools__buttons__button:hover {
  background-color: #d6d6d6;
}

.canvas-tools__buttons__button__icon {
  height: 14px;
  width: 14px;
}
