.fullscreen-modal {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}

.fullscreen-modal--background-opaque {
  background-color: rgba(0, 0, 0, 0.6);
}

.fullscreen-modal--background-transparent {
  background-color: transparent;
}
