.word__positioner {
  position: absolute;
  top: -70px;
  right: 100px;
  height: 130px;
  width: 500px;
  z-index: 2;
}

.word {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;

  font-family: IBM Plex Mono;
  font-weight: 600;
}

.word__countdown {
  flex-shrink: 0;
  width: 70px;
  text-align: center;

  font-size: 30px;
}

.word__countdown--red {
  color: red;
}

.word__preview {
  width: calc(100% - 80px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  margin-left: 10px;
}

.word__preview__char {
  margin-top: 30px;
  border-bottom: 3px solid black;
}

.word__preview__full {
  font-size: 24px;
  letter-spacing: 2px;
}
