.game {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game__components {
  position: relative;
  display: flex;
  margin-top: 60px;
}

.game__canvas__positioner {
  height: 660px;
  width: 630px;
  margin-right: 300px;
}